.spaced-out {
  color: white;
  letter-spacing: 3px;
}

.faded {
  opacity: 0.5;
}
.whiteBTN {
  color: white;
}

body,
html {
  height: 100%;
}

.bg {
  /* The image used */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
