/* #AllRed {
  transform: rotate(0deg);
  transform-origin: center center;
  transition: all 2000ms linear;
} */

.red {
  transform: translate(10%);
  transition: all 1000ms linear;
}
/*  red = (0,13)
    blue = (37,0)*/
/* translate(37.000000, 0.000000) */
